// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black-cv: #010615;
$blue-sky-skill: #00bcd4;
$red-skill: #d40000;
$green-skill: #00d41c;
$orange-skill: #d47f00;
$pink-skill: #d400c9;
$yellow-skill: #e2e600;

.color-green {
  color: $green-skill;
  &:hover {
    color: $green-skill;
    opacity: 0.8;
  }
}
