.scroll-down {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 100%;
  border: rgba($orange, 0.3) 2px solid;
  color: $orange;
  &:hover {
    background: rgba($orange, 0);
    border: rgba($orange, 0.8) 2px solid;
    color: rgba($orange, 0.8);
  }
}

@media (max-width: 630px) {
  .scroll-down {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
