// card skill css

.card-skill {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 20px;
  transition: 0.5s;
  background: #060b1f;
  &:hover {
    height: 140px;
  }
}

.card-skill-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
  svg {
    max-width: 100%;
    opacity: 0.3;
    transition: 0.5s;
  }
}

.card-skill:hover .card-skill-img svg {
  opacity: 1;
}

.card-skill-content {
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  bottom: 4px;
  height: 30px;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  color: $light-gray;
}

.card-skill:hover .card-skill-content {
  opacity: 1;
}

// card level css

.card-level {
  position: relative;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background: #060b1f;
  color: $light-gray;
}

// level color css

.beginner::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  background: linear-gradient(235deg,$yellow-skill,$black-cv,$yellow-skill);
}

.beginner::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
  background: linear-gradient(235deg,$yellow-skill,$black-cv,$yellow-skill);
}

.intermediate::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  background: linear-gradient(235deg,$orange-skill,$black-cv,$orange-skill);
}

.intermediate::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
  background: linear-gradient(235deg,$orange-skill,$black-cv,$orange-skill);
}

.advanced::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  background: linear-gradient(235deg,$red-skill,$black-cv,$red-skill);
}

.advanced::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
  background: linear-gradient(235deg,$red-skill,$black-cv,$red-skill);
}