.container {
  color: $light-gray;
  position: relative;
}

.container-levels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
  margin-bottom: 150px;
  position: relative;
  .image-char13 {
    position: absolute;
    height: 300px;
    width: 200px;
    z-index: -1;
    bottom: -250px;
    left: 0;
  }
}

.container-fullstack {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.wrapper {
  opacity: 0.99;
}
