// Import your components CSS files here.
@import 'alert';
@import 'avatar';
@import 'navbar';
@import 'splitting';
@import 'container';
@import 'card';
@import 'banner';
@import 'footer';
@import 'monitor';
@import 'scroll_bar';
@import 'grid';
@import 'button';
@import 'loader';

.text-paragraphe {
  color: $light-gray;
  text-align: justify;
  margin-bottom: 20px;
}

.text-motivation {
  color: $orange;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.8;
}

.without-decoration {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

@media (min-width: 992px) {
  .text-paragraphe {
    margin: 0 15% 20px 5%;
  }
}
